{% extends "../layouts/blank.html" %}
{% block content %}
<div class="loginmodal-container">
     <h1>Bienvenido</h1><br>
     <form accept-charset="UTF-8" action="acceder" method="post">
        <input type="text" name="usuario" placeholder="Usuario">
        <input type="password" name="contrasenia" placeholder="Contraseña">
        <!--<% if defined? @mensaje %><label class="rojo">Usario y/o contraseña incorrectos</label><% end %>-->
        {%if error == 1%}
            <label class="color-rojo">Usario y/o contraseña incorrectos</label>
        {%end%}
        <input type="submit" class="login loginmodal-submit">
     </form>
     <div class="login-help">
         <label>Powered by: Software Web Perú ©</label> - <a href="http://softweb.pe/">Ir</a>
     </div>
</div>
{% end %}